
.black-list-item {
    padding-right: 10px;
}

.black-list-item:hover {
    cursor: pointer;
    background-color: #FF0000;

}

.black-list-item {
    display: inline-block;
    background-color: #333333;
    color: #fff;
    padding: 4px 6px !important;
    font-size: .9rem;
    margin: 3px;
    line-height: 1;
    transition: 0.15s all ease;
    border-radius: 3px;
}

.black-list-word-removal {
    display: inline-block;
    position: relative;
    top: -2px;
    left: 2px;
    
    width: 15px;
    height: 15px;
    
    border-radius: 10px;
    border: 1px solid #555;
    
    line-height: 8px;
    padding-left: 2px;
    
}

.word-cloud-tooltip {
    position: absolute;
    z-index: 1000;
    display: none;
    background-color: #fff;
    line-height: 1;
    color: #000;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    padding: 10px 15px;
}

.word-cloud-tooltip::before {
    content: 'Anzahl: ';
}

.text-from-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: none;
    background-color: rgba(200,200,200,0.5);
    font-family: sans-serif;

}

.ocr-camera-container {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.ocr-camera-container video,
.ocr-camera-container canvas,
.ocr-camera-container img {
    width: 100%;
    height: auto;
    position: absolute;
    
}
.ocr-camera-container img {
    z-index: 100;
    cursor: pointer;
}
.ocr-camera-container video {
    z-index: 200;
    cursor: pointer;
}
.ocr-camera-container canvas {
    z-index: 100;
}

.ocr-camera-controls {
    width: 100%;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    height: 2em;
    background-color: #ffffff;
}
.ocr-camera-container button.close-ocr {
    
    position: absolute;
    z-index: 500;
    background-color: #cd2653 !important;
    bottom: 0;
    width: 50%;
    right: 0; 
    text-align: center;  
    height: 100%;
    line-height: 2em;
    padding: 0;
}

.ocr-camera-container select.device-selector {

    position: absolute;
    z-index: 500;
    bottom: 0;
    width: 50%;
    left: 0; 
    text-align: center;  
    height: 100%;


}

.ocr-hint {
    position: absolute;
    z-index: 1000;
    width: 100%;
    background-color: rgba(255,255,255,0.6);
    top: 33%;
    text-align: center;

}

.ocr-loader-container {
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    display: none;
}
.ocr-loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #cd2653; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } 


.word-cloud-container input {
    margin: 1em auto;
    display: block;
}
.word-cloud-container input[type="checkbox"] {
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0;
    margin-right: 6px;
}

.word-cloud-container .kits-label {
    display: flex;
    justify-content: center;
    align-items: normal;
}

.word-cloud-text-from-image-progress-bar-container {
    width: 100%;
    height: 1em;
    display: block;

}

 /* IE and EDGE */
.word-cloud-text-from-image-progress-bar-container progress {
    /* RESETS */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    height: 10px;
    border-radius: 20px;
    background-color: #777;
    color: #00a3d3;
}

/* WEBKIT BROWSERS - CHROME, OPERA AND SAFARI */
.word-cloud-text-from-image-progress-bar-container progress::-webkit-progress-bar {
    background-color: #777;
    border-radius: 20px;
}

.word-cloud-text-from-image-progress-bar-container progress::-webkit-progress-value {
    background-color: #00a3d3;
    border-radius: 20px;
}

/* MOZILLA FIREFOX */
.word-cloud-text-from-image-progress-bar-container progress::-moz-progress-bar {
    background-color: #00a3d3;
    border-radius: 20px;
}


.word-cloud-container textarea {

    display: block;
}

.word-cloud-container button.render-word-cloud,
.word-cloud-container button.text-from-image,
.canvas-download-button {
    display: inline-block;
    background-color: #00a3d3;
    color: #fff !important;
    padding: .538em 1.077em;
    font-family: inherit;
    font-size: .923em;
    font-weight: 400;
    margin: 20px 0;
    border: 0;
    cursor: pointer;
    line-height: 1.65;
    -webkit-appearance: none;
    -webkit-font-smoothing: inherit;
    text-decoration: none !important;
    max-width: 100%;
    transition: 0.15s all ease;
    border-radius: 3px;
}

.word-cloud-container button.render-word-cloud:hover,
.word-cloud-container button.text-from-image:hover,
.canvas-download-button:hover {
    background-color: #00456f;
}   

.canvas-download-button {
    display: none;
}

.word-cloud-container {
    text-align: center;
}

.word-cloud {
    display: flex;
    max-width: 1024px;
    margin: 30px auto;
}

.word-cloud-controller input[type=file],
.word-cloud-text-from-image-progress-bar-container {
    display: none;
}

.word-cloud-container input[type=radio] {
    display:none; 
    margin:10px;
    cursor: pointer;
}
.word-cloud-container label:hover {
    cursor: pointer;
}
.word-cloud-container input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    color: #fff;
    background-color: #00a3d3;
    border: none;
}
.word-cloud-container input[type=radio]:checked + label { 
   background-image: none;
   background-color:#00456f;
}
.kits_orientierung_wrapper {
    display: none;
}
.kits_orientierung {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.kits_orientierung svg {
    height: 1em;
    width: auto;
    margin-right: 10px;
}
.github_link {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}
#kits_github_link {
    display: inline-block;
    width: auto;
    height: 20px;
    position: relative;
    top: 5px;
    margin-right: 3px;
    color: #999;
}
.github_link a {
    color: #999;
    text-decoration: none;
    transition: color .3s ease;
}
.github_link a:hover {
    color: #555;
}
canvas.word-cloud {
    height: 1px;
}
.word-cloud-example {
    background-image: url(../img/wortwolke-beispiel.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 78.125%;
    margin: 30px auto;
}
.cloud-input-group {
  clear: both;
  margin-bottom: 20px;
  position: relative;
}
.cloud-input-group input[type='button'] {
    background-color: #00a3d3;
    min-width: 42px;
    width: auto;
    transition: 0.15s all ease;
    display: inline-block;
    margin: 0;
    border: none;
    color: #fff;
    cursor: pointer;
}
.cloud-input-group input[type='button']:hover {
    background-color: #00456f;
}
.cloud-input-group .word-occurence-minus,
.cloud-input-group .word-occurence-plus {
    font-weight: bold;
    height: 35px;
    padding: 0;
    width: 35px;
    position: relative;
    -webkit-appearance: button;
}
.word-occurence-minus {
    border-radius: 3px 0 0 3px !important;
}
.word-occurence-plus {
    border-radius: 0 3px 3px 0 !important;
}
.cloud-input-group .word-cloud-setting-min-word-occurence {
    position: relative;
    height: 35px;
    text-align: center;
    width: 50px;
    display: inline-block;
    font-size: 1em;
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin: 0;
    resize: vertical;
    vertical-align: top;
    -webkit-appearance: none;
}
/* Firefox */
.cloud-input-group input[type=number] {
  -moz-appearance: textfield;
}
.word-cloud-setting-min-word-occurence::-webkit-outer-spin-button,
.word-cloud-setting-min-word-occurence::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* slider styling */
/* hide input field for size factor because the slider is used */
.word-cloud-setting-size-factor {
    display: none !important;
}
.cloud-slidecontainer {
    width: 200px;
    max-width: 100%;
    margin: 0 auto 20px auto;
}
.cloud-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #f7f7f7 !important;
  border: 1px solid #e1e1e1;
  outline: none;
  margin: 0 !important;
}
.cloud-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #00a3d3;
  cursor: pointer;
}
.cloud-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #00a3d3;
  cursor: pointer;
}
/* cloud settings */
#cloud-settings {
    display: none;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    padding: 25px;
}
#cloud-settings p {
    margin: 10px 0;
}
#cloud-settings p:first-child {
    margin-top: 0;
}
#cloud-settings-btn {
    display: inline-block;
    background-color: #00a3d3;
    color: #fff;
    padding: .538em 1.077em;
    font-family: inherit;
    font-size: .923em;
    font-weight: 400;
    margin: 20px 0;
    border: 0;
    cursor: pointer;
    line-height: 1.65;
    -webkit-appearance: none;
    -webkit-font-smoothing: inherit;
    text-decoration: none !important;
    max-width: 100%;
    transition: 0.15s all ease;
    border-radius: 3px;
}
#cloud-settings-btn:hover {
    background-color: #00456f;
}
#cloud-settings-btn:focus {
    outline:0;
}
.cloud-settings-active svg {
    transform: rotate(180deg);
}
#cloud-settings-btn svg {
    height: 1em;
    display: inline-block;
    width: auto;
    position: relative;
    top: 2px;
    margin-right: 3px;
    transform-origin: 50% 50%;
    transition: transform .5s linear;
}