
.black-list-item {
    padding-right: 10px;
}

.black-list-item:hover {
    cursor: pointer;
    background-color: #FF0000;

}

.black-list-item {
    display: inline-block;
    background-color: #333333;
    color: #fff;
    padding: 4px 6px !important;
    font-size: .9rem;
    margin: 3px;
    line-height: 1;
    transition: 0.15s all ease;
    border-radius: 3px;
}

.black-list-word-removal {
    display: inline-block;
    position: relative;
    top: -2px;
    left: 2px;
    
    width: 15px;
    height: 15px;
    
    border-radius: 10px;
    border: 1px solid #555;
    
    line-height: 8px;
    padding-left: 2px;
    
}

.word-cloud-tooltip {
    position: absolute;
    z-index: 1000;
    display: none;
    background-color: #fff;
    line-height: 1;
    color: #000;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    padding: 10px 15px;
}

.word-cloud-tooltip::before {
    content: 'Anzahl: ';
}

.text-from-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: none;
    background-color: rgba(200,200,200,0.5);
    font-family: sans-serif;

}

.ocr-camera-container {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.ocr-camera-container video,
.ocr-camera-container canvas,
.ocr-camera-container img {
    width: 100%;
    height: auto;
    position: absolute;
    
}
.ocr-camera-container img {
    z-index: 100;
    cursor: pointer;
}
.ocr-camera-container video {
    z-index: 200;
    cursor: pointer;
}
.ocr-camera-container canvas {
    z-index: 100;
}

.ocr-camera-controls {
    width: 100%;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    height: 2em;
    background-color: #ffffff;
}
.ocr-camera-container button.close-ocr {
    
    position: absolute;
    z-index: 500;
    background-color: #cd2653 !important;
    bottom: 0;
    width: 50%;
    right: 0; 
    text-align: center;  
    height: 100%;
    line-height: 2em;
    padding: 0;
}

.ocr-camera-container select.device-selector {

    position: absolute;
    z-index: 500;
    bottom: 0;
    width: 50%;
    left: 0; 
    text-align: center;  
    height: 100%;


}

.ocr-hint {
    position: absolute;
    z-index: 1000;
    width: 100%;
    background-color: rgba(255,255,255,0.6);
    top: 33%;
    text-align: center;

}

.ocr-loader-container {
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    display: none;
}
.ocr-loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #cd2653; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } 


.word-cloud-container input {
    margin: 1em auto;
    display: block;
}
.word-cloud-container input[type="checkbox"] {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
}

.word-cloud-text-from-image-progress-bar-container {
    width: 100%;
    height: 1em;
    display: block;

}

 /* IE and EDGE */
.word-cloud-text-from-image-progress-bar-container progress {
    /* RESETS */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    height: 10px;
    border-radius: 20px;
    background-color: #777;
    color: #00a3d3;
}

/* WEBKIT BROWSERS - CHROME, OPERA AND SAFARI */
.word-cloud-text-from-image-progress-bar-container progress::-webkit-progress-bar {
    background-color: #777;
    border-radius: 20px;
}

.word-cloud-text-from-image-progress-bar-container progress::-webkit-progress-value {
    background-color: #00a3d3;
    border-radius: 20px;
}

/* MOZILLA FIREFOX */
.word-cloud-text-from-image-progress-bar-container progress::-moz-progress-bar {
    background-color: #00a3d3;
    border-radius: 20px;
}


.word-cloud-container textarea {

    display: block;
}

.word-cloud-container button.render-word-cloud,
.word-cloud-container button.text-from-image {
    display: inline-block;
    background-color: #00a3d3;
    color: #fff;
    padding: .538em 1.077em;
    font-family: inherit;
    font-size: .923em;
    font-weight: 400;
    margin: 20px 0;
    border: 0;
    cursor: pointer;
    line-height: 1.65;
    -webkit-appearance: none;
    -webkit-font-smoothing: inherit;
    text-decoration: none !important;
    max-width: 100%;
    transition: 0.15s all ease;
    border-radius: 3px;
}

.word-cloud-container button.render-word-cloud:hover,
.word-cloud-container button.text-from-image:hover {
    background-color: #00456f;
}   

.word-cloud-container {
    text-align: center;
}

.word-cloud {
    margin: 30px 0;
}

.word-cloud-controller input[type=file],
.word-cloud-text-from-image-progress-bar-container {
    display: none;
}

.word-cloud-container input[type=radio] {
    display:none; 
    margin:10px;
    cursor: pointer;
}
.word-cloud-container label:hover {
    cursor: pointer;
}
.word-cloud-container input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    color: #fff;
    background-color: #00a3d3;
    border: none;
}
.word-cloud-container input[type=radio]:checked + label { 
   background-image: none;
   background-color:#00456f;
}
.kits_orientierung_wrapper {
    display: none;
}
.kits_orientierung {
    display: flex;
    align-self: center;
    justify-content: center;
    font-weight: bold;
}
.kits_orientierung svg {
    height: 1.5em;
    width: auto;
    margin-right: 10px;
}